{
  "endpoint": "https://tos-cn-beijing.volces.com",
  "region": "cn-beijing",
  "bucket": "example-bucket",
  "access_key_id": "AKLTxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "secret_access_key": "WXpaXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX=="
}
